@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&amp;display=swap');

/*
============================>   Global vars   <============================
*/
:root {
    --color-primary: #3E64FF;
    --color-primary-variant: #113CFC;
    --color-danger: #ff7782;
    --color-danger-variant: #D65361;
    --color-success: #00CFB8;
    --color-success-variant: #00ACAF;
    --color-white: #fff;
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-info-dark: #7d8da1;
    --container-border-radius: 2rem;
    --border-radius: 1rem;
    --box-shadow-add: 10px 5px 5px var(--color-info-dark);
    --transition: all 300ms ease;
}


/*
============================>   General configs   <============================
*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-weight: bold;
    color: var(--color-primary);
}

/*
============================>   Carousel Home   <============================
*/
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 100vh;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*
============================>   Form container   <============================
*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.form-container {
    width: 550px;
    min-height: 400px;
    background-color:var(--color-white);
    padding: 20px;
    border-radius: 8px;
    transition: var(--transition);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow-add);
}

.form-container:hover {
    box-shadow: none;
}

.form-group {
    margin-bottom: 0;
}

.form-group h1 {
    text-align: center;
}

.form-floating input,
.form-floating textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-floating label {
    font-size: 15px;
    color: var(--color-primary);
}

.form-floating textarea {
    resize: none;
}

.form-floating input:focus,
.form-floating textarea:focus {
    outline: 2px solid var(--color-primary);
}

.form-group .form-label {
    color: var(--color-primary);
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*
============================>   Buttons container   <============================
*/
.button-container {
    display: flex;
}

.button-container button {
    flex: 1;
    margin-right: 5px;
}

.button-container button[type="submit"] {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button[type="submit"]:hover {
    background-color: var(--color-primary-variant);
}

.button-container button[type="reset"] {
    background-color: var(--color-danger);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button[type="reset"]:hover {
    background-color: var(--color-danger-variant);
}
/*
============================>   ADMIN VIEW   <============================
*/
.admin-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0; /* Margen superior de 20px, margen derecho e izquierdo automático */
}

.admin-page h1{
    margin-bottom: 0.8rem;
    font-size: 32px;
}

.admin-page .row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.admin-page .column {
    width: 50%; 
}

/*================ profile-container-left =================*/
.admin-page .profile-left {
    width: 100%;
    padding: 20px;
    background-color: var(--color-white);
    transition: var(--transition);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow-add);
    color: var(--color-dark);
}

.admin-page .profile-left .image {
    width: 50%;
    max-width:250px;
    margin-right: 20px; /* Margen derecho de la imagen */
    margin-bottom: 15px; /* Margen inferior de 10px para el img */
    position: relative; /* Habilita el posicionamiento relativo */
    top: 10px; /* Mueve la imagen hacia abajo */
    left: 5px; /* Mueve la imagen hacia la derecha */
}

.admin-page .profile-left p{
    margin-bottom: 0.8rem;
    font-size: 22px;
}

/*================ .profile-container-right =================*/
.admin-page .profile-right {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--color-white);
    transition: var(--transition);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow-add);
}

.admin-page .profile-right .image {
    width: 100%;
    padding: 20px;
    position: relative;
}

.badge-custom {
    background-color: var(--color-danger-variant);
    color: white; 
    padding: 5px 10px; 
    border-radius: 10px; 
}

/*
============================>   GLOBAL MODULE: PROFILE VIEW   <============================
*/
.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
}

.profile-wrapper .profile-container {
    width: 90%;
    padding: 20px;
    background-color: var(--color-white);
    transition: var(--transition);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow-add);
}

.profile-wrapper h1 {
    text-align: center;
    color: var(--color-primary);
}

.profile-wrapper i {
    font-size: 24px;
}

.profile-wrapper .table-title {
    font-size: 30px;
    font-weight: normal;
}

.profile-wrapper table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

.profile-wrapper table td {
    width:50%;
    padding: 20px;
    background-color: var(--color-white);
}

.profile-wrapper table td .input-container{
    width: 90%;
    padding: 20px;
    background-color: var(--color-white);
    transition: var(--transition);
    border: 1px solid var(--color-dark-variant);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-add);
    color: var(--color-primary);/*Color del texto*/
}

.profile-wrapper table td .input-container:hover{
    box-shadow: none;
}

.profile-wrapper table tr td strong{
    margin-right: 20px;
}

.profile-wrapper .input-container {
    display: flex;
    align-items: center;
}

.profile-wrapper .input-wrapper {
    margin-left: auto;
}

/* Estilo para los botones */
.profile-wrapper .input-wrapper i{
    padding-left:5px;
    font-size:16px;
}

.profile-wrapper .input-wrapper button{
    padding: 10px;
    border:none;
    color: var(--color-white);
    border-radius: var(--border-radius);
}

/* Estilo para los botones "Update" */
.profile-wrapper .input-wrapper .btn-update {
    background-color:var(--color-primary);
}

.profile-wrapper .input-wrapper .btn-update:hover{
    background-color: var(--color-primary-variant);
}

/* Estilo para los botones "Cancel" */
.profile-wrapper .input-wrapper .btn-cancel {
    background-color:var(--color-danger);
}

.profile-wrapper .input-wrapper .btn-cancel:hover{
    background-color: var(--color-danger-variant);
}

/* Estilo para los botones "Save" */
.profile-wrapper .input-wrapper .button-save {
    background-color: var(--color-success); 
}

.profile-wrapper .input-wrapper .button-save:hover {
    background-color: var(--color-success-variant);
}

/* Estilo para ocultar el btn y el input*/
.profile-wrapper .input-wrapper input,
.profile-wrapper .input-wrapper button[type="reset"] {
    display: none;
}

/* Estilo para el input*/
.profile-wrapper .input-wrapper input{
    border-radius: var(--border-radius);
    border-color: var(--color-primary);
    border: 10px thin;
    outline-color: var(--color-primary-variant);
    color: var(--color-dark-variant);
    padding:5px;
}

/*
============================>   ALL TABLE MODULES TO RETRIEVE THE USERS INFO  <============================
*/
.assign-role-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    color: var(--color-dark);
}

.assign-role-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-primary);
}

.assign-role-wrapper .payrollSubmodule  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.assign-role-wrapper .container {
    width: 100%;
    max-width: 80%; /* size of the table*/
    padding: 40px;
    background-color: var(--color-white);
    transition: var(--transition);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow-add);
}

.assign-role-wrapper .container div{
    background-color: var(--color-white);
}

.assign-role-wrapper .container .look-container{
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

.assign-role-wrapper .container .look-container{
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

.assign-role-wrapper .container .input-group input{
    width: 400px;
}

.assign-role-wrapper .container .input-group input .form-control{
    width: 400px;
}

.assign-role-wrapper .container form button.btn-primary.create {
    background-color: var(--color-success);
}

.assign-role-wrapper .container form button.btn-primary.create:hover {
    background-color: var(--color-success-variant);
}

.assign-role-wrapper .container button{
    color:var(--color-white);
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
}

.assign-role-wrapper .container button:hover {
    background-color: var(--color-primary-variant);
}

.assign-role-wrapper .container form button.btn-primary.delete {
    background-color: var(--color-danger);
}

.assign-role-wrapper .container form button.btn-primary.delete:hover {
    background-color: var(--color-danger-variant);
}

.assign-role-wrapper .container table {
    border-collapse: separate;
    border-spacing: 5px;
}

.assign-role-wrapper .container table th,
.assign-role-wrapper .container table td {
    color:var(--color-primary);
    background-color: var(--color-white);
    text-align: center;
    border-radius: var(--border-radius);
}

.assign-role-wrapper .container table tbody tr{
    transition: var(--transition);
    box-shadow: var(--box-shadow-add);
    outline: 1px solid var(--color-dark-variant);
    border-radius: var(--border-radius);
}

.assign-role-wrapper .container table tbody tr:hover {
    box-shadow: none;
}

.assign-role-wrapper .container table tbody td {
    vertical-align: middle;
}

.assign-role-wrapper .container table tbody td form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.assign-role-wrapper .container table tbody td form i {
    padding-left: 5px;
}

/*
============================>   Media Queries: Small Laptops/Big Tablets  <============================
*/
@media screen and (max-width: 1200px) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/*
============================>   Media Queries: Small Tablet/Phones   <============================
*/
@media screen and (max-width: 768px) {
    .admin-page h1, .admin-page p {
        font-size: 1rem;
    }

    .admin-page .profile-left .image {
        min-width: 55px;
    }

    .admin-page .profile-right .image {
        min-width: 200px;
        padding: 0;
        top: 10px;
        right: 20px;
    }
}