@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&amp;display=swap');

/*
============================>   Global vars   <============================
*/
:root {
    --color-primary: #6380ec;
    --color-primary-variant: #3E64CC;
    --color-white: #fff;
    --color-dark-variant: #677483;
    --btn-1: var(--color-primary);
    --btn-2: #ff7782;
    --container-border-radius: 2rem;
    --box-shadow-add: 10px 5px 5px var(--color-primary);
    --transition: all 300ms ease;
}


/*
============================>   General configs   <============================
*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-weight: bold;
    color: var(--color-primary);
}

/*
============================>   Carousel Home   <============================
*/
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 100vh;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*
============================>   Form container   <============================
*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    width: 550px;
    min-height: 400px;
    background-color:var(--color-white);
    padding: 20px;
    border-radius: 8px;
    transition: var(--transition);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow-add);
}

.form-container:hover {
    box-shadow: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-group h1 {
    text-align: center;
}

.form-floating input,
.form-floating textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-floating label {
    font-size: 15px;
    color: var(--color-primary);
}

.form-floating input:focus,
.form-floating textarea:focus {
    outline: 2px solid var(--color-primary);
}

.form-group .form-label {
    color: var(--color-primary);
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/*
============================>   Buttons container   <============================
*/
.button-container {
    display: flex;
}

.button-container button {
    flex: 1;
    margin-right: 5px;
}

.button-container button[type="submit"] {
    background-color: var(--btn-1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button[type="reset"] {
    background-color: var(--btn-2);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*
============================>   ADMIN VIEW   <============================
*/
.admin-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0; /* Margen superior de 20px, margen derecho e izquierdo automático */
}

.admin-page h1{
    margin-bottom: 0.8rem;
    font-size: 32px;
}

.admin-page .row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.admin-page .column {
    width: 50%; 
}

/*================ profile-container-left =================*/
.admin-page .profile-left {
    width: 100%;
    padding: 20px;
    background-color: var(--color-white);
    transition: var(--transition);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow-add);
}

.admin-page .profile-left .image {
    width: 50%;
    max-width:250px;
    margin-right: 20px; /* Margen derecho de la imagen */
    margin-bottom: 15px; /* Margen inferior de 10px para el img */
    position: relative; /* Habilita el posicionamiento relativo */
    top: 10px; /* Mueve la imagen hacia abajo */
    left: 5px; /* Mueve la imagen hacia la derecha */
}

.admin-page .profile-left p{
    margin-bottom: 0.8rem;
    font-size: 22px;
}

/*================ .profile-container-right =================*/
.admin-page .profile-right {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--color-white);
    transition: var(--transition);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow-add);
}

.admin-page .profile-right .image {
    width: 100%;
    padding: 20px;
    position: relative;
}

/*
============================>   PROFILE VIEW   <============================
*/
.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
}

.profile-wrapper .profile-container {
    width: 90%;
    padding: 20px;
    background-color: var(--color-white);
    transition: var(--transition);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow-add);
}

.profile-wrapper h1 {
    text-align: center;
}

.profile-wrapper .table-title {
    font-size: 30px;
    font-weight: normal;
}

.profile-wrapper table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

.profile-wrapper table td {
    width:50%;
    padding: 20px;
    background-color: var(--color-white);
}

.profile-wrapper table td .input-container{
    width:90%;
    padding: 20px;
    background-color: var(--color-white);
    transition: var(--transition);
    border: 1px solid var(--color-dark-variant);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow-add);
}

.profile-wrapper table td .input-container:hover{
    box-shadow: none;
}

.profile-wrapper table tr td strong{
    margin-right: 20px;
}

.profile-wrapper .input-container {
    display: flex;
    align-items: center;
}

.profile-wrapper .input-wrapper {
    margin-left: auto;
}

.profile-wrapper .input-wrapper button{
    padding: 10px;
    border:none;
    color: var(--color-white);
    background-color:var(--color-primary);
    border-radius: var(--container-border-radius);
}

.profile-wrapper .input-wrapper button:hover{
    background-color: var(--color-primary-variant);
}

/*
============================>   Media Queries: Small Laptops/Big Tablets  <============================
*/
    @media screen and (max-width: 1200px) {
        .featurette-heading {
            margin-top: 7rem;
        }
    }
    /*
============================>   Media Queries: Small Tablet/Phones   <============================
*/
    @media screen and (max-width: 768px) {
        .admin-page h1, .admin-page p {
            font-size: 1rem;
        }

        .admin-page .profile-left .image {
            min-width: 55px;
        }

        .admin-page .profile-right .image {
            min-width: 200px;
            padding: 0;
            top: 10px;
            right: 20px;
        }
    }